<DOCTYPE html>
<html>
  <head>
    <title>Achievements</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/uikit.almost-flat.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script type="text/javascript" src="../js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="../js/uikit.min.js"></script>
    <script type="text/javascript" src="../js/request_helpers.js"></script>
    <script type="text/javascript" src="../js/achievements_chart.js"></script>
  </head>
  <body>
    <div id="temp-container" style="display: none">
        
        
    </div>  
    <div class="chart"></div>
  </body>
</html>