<footer>
    <div class="copyright">
        <span class="copyright-text">&copy; Copyright Xvault 2016</span>
    </div>
    <div class="social">
        <ul class="social-media-list">
            <li class="social-item">
                <a href="https://www.facebook.com">
                    <img src="../assets/facebook-icon.svg" alt="" title="" class="uk-animation-scale uk-animation-reverse uk-animation-hover">
                </a>
            </li>
            <li class="social-item">
                <a href="https://plus.google.com">
                    <img src="../assets/google-icon.svg" alt="" title="" class="uk-animation-scale uk-animation-reverse uk-animation-hover">
                </a>
            </li>
            <li class="social-item">
                <a href="https://www.pinterest.com">
                    <img src="../assets/pinterest-icon.svg" alt="" title="" class="uk-animation-scale uk-animation-reverse uk-animation-hover">
                </a>
            </li>
            <li class="social-item">
                <a href="https://www.twitter.com">
                    <img src="../assets/twitter-icon.svg" alt="" title="" class="uk-animation-scale uk-animation-reverse uk-animation-hover">
                </a>
            </li>
        </ul>
    </div>
<footer>