<!DOCTYPE html>
<html>
    <head>
       <title>XVault</title>
       <meta charset="utf-8">
       <link rel="stylesheet" type="text/css" href="../css/uikit.almost-flat.min.css">
       <link rel="stylesheet" type="text/css" href="../css/styles.css">
       <script type="text/javascript" src="../js/jquery-2.2.4.js"></script>
       <script type="text/javascript" src="../js/uikit.min.js"></script>
       <script type="text/javascript" src="../js/request_helpers.js"></script>
    </head>
    <body>
        <%= @header_partial %>
        <section class="page-content">
            Howdy
            <form action="/upload" method="POST">
                <ul>
                    <li>
                        <label for="photo-submit"></label><input type="file" name="submitItem" id="photo-submit">    
                    </li>
                    <li>
                        <input type="submit" value="Submit" class="submit btn" accept="img/*">
                    </li>
                </ul>
            </form>
        </section>
        <%= @footer_partial %>
        <script type="text/javascript">
            $(document).ready(function() {
                $("form").on("submit", function(e) {
                   e.preventDefault();
                   var files = document.querySelector("input[type=file]").files;
                   for(var i = 0; i < files.length; i++) {
                       sendImage(files[i]);
                   }
                   
                });
            }); 
            
            function sendImage(file) {
                var req = createXHRRequest("POST", "/upload");
                req.send(file);
            }
            
                       
        </script>
    </body>
</html>